# Ignorar ficheros de configuracion con informacion sensible
venv/

# Archivos de configuración de Firebase con información sensible
database.rules.json

# Archivos de instrucciones internas para IAs - no deben ser públicos
*.md
!README.md
