/* Estilos básicos */
body {
    font-family: sans-serif;
    padding: 20px;
}

/* Ajustes para móviles */
@media (max-width: 767.98px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.list-group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.item-details {
    flex-grow: 1;
    margin-right: 10px;
}

.item-date {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
    width: 100%; /* Ocupa todo el ancho en móvil */
    text-align: right;
}

/* Ocultar labels en móvil para ahorrar espacio */
.form-label.visually-hidden {
    display: none;
}

/* Mostrar labels en pantallas más grandes si es necesario */
@media (min-width: 768px) {
    .form-label.visually-hidden {
        display: block;
        clip: auto;
        height: auto;
        width: auto;
        margin: 0;
        overflow: visible;
    }
}

/* Estilos para los botones de supermercado */
.supermarket-buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.supermarket-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.supermarket-btn.selected {
    border-color: #007bff; /* Color de borde para el seleccionado */
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.btn-mercadona {
    background-color: #008000; /* Verde */
}
.btn-hiperdino {
    background-color: #FFD700; /* Amarillo */
    color: #333; /* Texto oscuro para contraste */
}
.btn-alcampo {
    background-color: #FF0000; /* Rojo */
}
.btn-lidl {
    background-color: #0000FF; /* Azul */
}
.btn-spar {
    background-color: #808080; /* Gris */
}
.btn-primor {
    background-color: #8A2BE2; /* Malva (BlueViolet) */
}
.btn-druni {
    background-color: #00CED1; /* Celeste (DarkTurquoise) */
}